{% extends "::base.html.twig" %}

{% block title %}All Categories{% endblock %}
{% block body %}
    <a href="{{ path('fos_user_security_logout') }}">
        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
    </a>
    <div>
        <button class = "btn btn-xs"
                onclick = "window.location.href='{{ path('mainNotDone') }}' "
                type="button"
        >Back to main page</button>
    </div>
    <div>
        <button class = "btn btn-xs btn-success"
                onclick = "window.location.href='{{ path('newCategory') }}' "
                type="button"
        >New category</button>
    </div>
<ul>
    {% for c in categories %}
        <li>
            <a href="{{ path('showCategory', {'id': c.getId()}) }}"><strong>{{ c.getName() }}</strong></a>


            <button class = "btn btn-sm btn-warning "
                    onclick = "window.location.href='{{ path('editCategory', {'id': c.getId()}) }}' "
                    type="button"
            >Edit</button>

            <button class = "btn btn-sm btn-danger"
                    onclick = "window.location.href='{{ path('deleteCategory', {'id': c.getId()}) }}' "
            >Delete</button>

        </li>
    {% else %}
        Sorry, there's no categories :(
    {% endfor %}
</ul>
{% endblock %}

