{% extends "::base.html.twig" %}

{% block title %}Edit Task{% endblock %}

{% block body %}
    <button class = "btn btn-xs "
            onclick = "window.location.href='{{ path('showTask', {'id': task.id}) }}' "
            type="button"
    >Back to task</button>
    <h2>Edit Task {{ task.name }}</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
